body, ul, li, p {
	margin:  10px;
	padding: 10px;
	list-style: none;
	font-size: 1.2rem;
	font-family: arial;
	}
	a {
		text-decoration: none;
		color: rgba(31, 7, 139, 0.925)
	}
.header {
	background:#628f2e;
	display: inline-flexbox;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 15px;

}
h1, p, h2{
	color: white;
	align-items: center;
	
}	
.menu{
	display: block}
.menu li{
	margin-left:  10px;
}
.menu li a{
	display: block;
	padding: 10px 10px;
	background: rgb(0, 255, 157);
	align-items: center;
}